.ui {
  min-width: 850px;
  border-radius: 10px;
  background-color: bisque;
  display: block;
  margin: 0 auto;
}

.ui .formArea {
  margin: 0.5vw;
  float: left;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 2vw;
  min-width: 35vw;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  background-color: rgb(255, 255, 255);
  min-width: 300px;
}

.ui .resultArea {
  margin: 0.5vw;
  float: left;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 2vw;
  min-width: 35vw;
  display: block;
  margin: 0 auto;
  margin-top: 187px;
  min-width: 450px;
  margin-left: 7vw;
  background-color: rgb(255, 255, 255);
}