@media screen and (max-width: 1024px) {
  .ui {
    width: 97vw;
    height: 100vh;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  .ui .inputDataArea {
    margin: 0.5vw;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;
    margin-top: 50px;
    min-width: 52vw;
    background-color: rgb(255, 255, 255);
  }
  .ui .outputDataArea {
    margin: 0.5vw;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;
    margin-top: 300px;
    min-width: 43vw;
    height: 60vh;
    background-color: rgb(255, 255, 255);
  }
  .ui .findClass {
    text-align: center;
    font-size: 21px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .ui .resultClass {
    text-align: center;
    font-size: 21px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: left;
    margin-left: 2vw;
  }
  .ui .findbtn {
    width: 10vw;
    margin-left: 18vw;
    margin-top: 20px;
  }
  .ui .emptyDiv {
    background-color: rgb(255, 255, 255);
    width: 38vw;
    margin-left: 2vw;
    border-radius: 7px;
    height: 5vh;
    border: 0.5px solid rgb(209, 209, 209);
    margin-bottom: 0.2vw;
  }
  .ui .emptyDiv h4 {
    color: rgb(66, 124, 211);
    margin-top: 1vw;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1025px) {
  .ui {
    background-color: rgb(255, 255, 255);
    width: 97vw;
    height: 100vh;
    border-radius: 10px;
  }
  .ui .inputDataArea {
    margin: 0.5vw;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;
    margin-top: 50px;
    min-width: 47vw;
    background-color: rgb(255, 255, 255);
  }
  .ui .outputDataArea {
    margin: 0.5vw;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;
    min-width: 37vw;
    margin-top: 300px;
    height: 60vh;
    background-color: rgb(255, 255, 255);
  }
  .ui .findClass {
    text-align: center;
    font-size: 21px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .ui .resultClass {
    text-align: center;
    font-size: 21px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: left;
    margin-left: 2vw;
  }
  .ui .findbtn {
    width: 10vw;
    margin-left: 15vw;
    margin-top: 20px;
  }
  .ui .emptyDiv {
    background-color: rgb(255, 255, 255);
    width: 30vw;
    margin-left: 2vw;
    border-radius: 7px;
    height: 5vh;
    border: 0.5px solid rgb(209, 209, 209);
    margin-bottom: 0.2vw;
  }
  .ui .emptyDiv h4 {
    color: rgb(66, 124, 211);
    margin-top: 0.7vw;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1600px) {
  .ui {
    background-color: rgb(255, 255, 255);
    width: 53vw;
    height: 100vh;
    margin-left: 23.5vw;
    border-radius: 10px;
  }
  .ui .inputDataArea {
    min-width: 700px;
    margin: 0.5vw;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;
    margin-top: 50px;
    min-width: 29vw;
    background-color: rgb(255, 255, 255);
  }
  .ui .outputDataArea {
    min-width: 700px;
    margin: 0.5vw;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;
    margin-top: 300px;
    height: 60vh;
    min-width: 22vw;
    background-color: rgb(255, 255, 255);
  }
  .ui .findClass {
    text-align: center;
    font-size: 22px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
  .ui .resultClass {
    text-align: center;
    font-size: 22px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: left;
    margin-left: 2vw;
  }
  .ui .findbtn {
    width: 7vw;
    margin-left: 8vw;
    margin-top: 20px;
  }
  .ui .emptyDiv {
    background-color: rgb(255, 255, 255);
    width: 18vw;
    margin-left: 2vw;
    border-radius: 7px;
    height: 5vh;
    border: 0.5px solid rgb(209, 209, 209);
    margin-bottom: 0.2vw;
  }
  .ui .emptyDiv h4 {
    color: rgb(66, 124, 211);
    margin-top: 0.5vw;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
}