$backgroundColor: rgb(255, 255, 255);
$backgroundColorArea: rgb(199, 181, 181);
$fontFamily: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

.ui {
  width: 950px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  height: 900px;
  background-color: rgb(255, 255, 255);
}

@mixin areas {
  margin: 0.5vw;
  display: block;
  margin: 0 auto;
  float: left;
  border-radius: 10px;
  padding-bottom: 2vw;
}

.formArea {
  @include areas;
  margin-top: 15px;
  background-color: $backgroundColor;
  min-width: 300px;
  margin-left: 50px;
}

.resultArea {
  @include areas;
  margin-top: 185px;
  min-width: 450px;
  margin-left: 130px;
  background-color: $backgroundColor;
}

.notitification {
  background-color: aqua;
  height: 200px;
  width: 100px;
}
