.ui {
  background-color: rgb(255, 255, 255);
  width: 50vw;
  height: 110vh;
  margin-left: 25vw;
  border-radius: 10px;
}

.ui .inputDataArea {
  width: 24vw;
  margin: 0.5vw;
  background-color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 2vw;
  background-color: rgb(204, 127, 228);
}

.ui .outputDataArea {
  width: 24vw;
  margin: 0.5vw;
  background-color: rgb(255, 255, 255);
  float: left;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 2vw;
  margin-top: 13vw;
  height: 60vh;
  background-color: rgb(219, 145, 241);
}

.ui .findClass {
  text-align: center;
  font-size: 21px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.ui .resultClass {
  text-align: center;
  font-size: 21px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: left;
  margin-left: 2vw;
}

.ui .findbtn {
  width: 7vw;
  margin-left: -6.9vw;
}