$backgroundColor: rgb(255, 255, 255);
$backgroundColorArea: rgb(255, 226, 226);

.ui {
  background-color: $backgroundColor;
  width: 50vw;
  height: 110vh;
  margin-left: 25vw;
  border-radius: 10px;
}

@mixin areas {
  width: 24vw;
  // height: 105vh;
  margin: 0.5vw;
  background-color: $backgroundColor;
  float: left;
  text-align: center;
  border-radius: 10px;
  padding-bottom: 2vw;
}

.ui .inputDataArea {
  @include areas;
}
.ui .outputDataArea {
  @include areas;
  margin-top: 13vw;
  height: 60vh;
}

@mixin header {
  text-align: center;
  font-size: 21px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.ui .findClass {
  @include header;
}
.ui .resultClass {
  @include header;
  text-align: left;
  margin-left: 2vw;
}

.ui .findbtn {
  width: 7vw;
  margin-left: -6.9vw;
}
