$backgroundColor: rgb(255, 255, 255);
$backgroundColorArea: rgb(202, 177, 177);
$fontFamily: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

@media screen and (max-width: 1024px) {
  .ui {
    width: 97vw;
    height: 100vh;
    border-radius: 10px;
    background-color: $backgroundColor;
  }

  @mixin areas {
    margin: 0.5vw;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;
  }

  .ui .inputDataArea {
    @include areas;
    margin-top: 50px;
    min-width: 44vw;
    background-color: $backgroundColor;
    margin-left: 5vw;
  }
  .ui .outputDataArea {
    @include areas;
    margin-top: 300px;
    min-width: 44vw;
    background-color: $backgroundColor;
  }

  @mixin header {
    text-align: center;
    font-size: 25.5px;
    font-family: $fontFamily;
  }
  .ui .findClass {
    @include header;
  }
  .ui .resultClass {
    @include header;
    text-align: left;
    margin-left: 2vw;
  }

  .ui .findbtn {
    width: 15vw;
    margin-left: 22vw;
    margin-top: 20px;
    border-radius: 10px;
  }

  .ui .emptyDiv {
    background-color: $backgroundColor;
    width: 38vw;
    margin-left: 2vw;
    border-radius: 7px;
    height: 5vh;
    border: 0.5px solid rgb(209, 209, 209);
    margin-bottom: 0.2vw;
    h4 {
      color: rgb(66, 124, 211);
      margin-top: 1vw;
      font-family: $fontFamily;
    }
  }
}

@media screen and (min-width: 1025px) {
  .ui {
    background-color: $backgroundColor;
    width: 97vw;
    height: 100vh;
    border-radius: 10px;
  }

  @mixin areas {
    margin: 0.5vw;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;
  }

  .ui .inputDataArea {
    @include areas;
    margin-top: 50px;
    min-width: 37vw;
    background-color: $backgroundColor;
    margin-left: 10vw;
  }
  .ui .outputDataArea {
    @include areas;
    min-width: 37vw;
    margin-top: 300px;
    background-color: $backgroundColor;
  }

  @mixin header {
    text-align: center;
    font-size: 25.5px;
    font-family: $fontFamily;
  }
  .ui .findClass {
    @include header;
  }
  .ui .resultClass {
    @include header;
    text-align: left;
    margin-left: 2vw;
  }

  .ui .findbtn {
    width: 10vw;
    margin-left: 15vw;
    margin-top: 20px;
    border-radius: 10px;
  }

  .ui .emptyDiv {
    background-color: $backgroundColor;
    width: 30vw;
    margin-left: 2vw;
    border-radius: 7px;
    height: 5vh;
    border: 0.5px solid rgb(209, 209, 209);
    margin-bottom: 0.2vw;
    h4 {
      color: rgb(66, 124, 211);
      margin-top: 0.7vw;
      font-family: $fontFamily;
    }
  }
}

@media screen and (min-width: 1600px) {
  .ui {
    background-color: $backgroundColor;
    width: 48vw;
    height: 100vh;
    margin-left: 23vw;
    border-radius: 10px;
  }

  @mixin areas {
    min-width: 700px;
    margin: 0.5vw;
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-bottom: 2vw;
  }

  .ui .inputDataArea {
    @include areas;
    margin-top: 50px;
    min-width: 24vw;
    background-color: $backgroundColor;
  }
  .ui .outputDataArea {
    @include areas;
    margin-top: 300px;
    min-width: 22vw;
    background-color: $backgroundColor;
  }

  @mixin header {
    text-align: center;
    font-size: 25.5px;
    font-family: $fontFamily;
  }
  .ui .findClass {
    @include header;
  }
  .ui .resultClass {
    @include header;
    text-align: left;
    margin-left: 2vw;
  }

  .ui .findbtn {
    width: 6vw;
    margin-left: 8.2vw;
    margin-top: 20px;
    border-radius: 10px;
  }

  .ui .emptyDiv {
    background-color: $backgroundColor;
    width: 18vw;
    margin-left: 2vw;
    border-radius: 7px;
    height: 5vh;
    border: 0.5px solid rgb(209, 209, 209);
    margin-bottom: 0.2vw;
    h4 {
      color: rgb(66, 124, 211);
      margin-top: 0.5vw;
      font-family: $fontFamily;
    }
  }
}
