$fontFamily: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

//FormImageAndHeader
.mainImageAndHeader {
  font-size: 20px;
  font-family: $fontFamily;
  border-radius: 10px;
  margin-bottom: 10px;
  .items {
    display: block;
    margin: 0 auto;
  }
}

//Form
.form {
  .input {
    display: block;
    margin: 10px auto;
    width: 330px;
    text-align: left;
  }
  .findbtn {
    border-radius: 4px;
    display: block;
    width: 130px;
    margin-top: 25px;
    height: 32px;
    margin-left: auto;
  }
}
