.resultHeader {
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
  margin-bottom: 10px;
}
.resultHeader .item {
  display: block;
  margin: 10px 5px auto;
}
