@media screen and (max-width: 1024px) {
  .inputDate {
    width: 36vw;
    text-align: left;
    margin-left: 8vw;
    margin-bottom: 1.5vh;
  }
}

@media screen and (min-width: 1025px) {
  .inputDate {
    width: 25vw;
    text-align: left;
    margin-left: 11vw;
    margin-bottom: 1.5vh;
  }
}

@media screen and (min-width: 1600px) {
  .inputDate {
    width: 15vw;
    text-align: left;
    margin-left: 7vw;
    margin-bottom: 1.5vh;
  }
}
