@media screen and (max-width: 1280px) {
  .inputDate {
    width: 30vw;
    text-align: left;
    margin-left: 8vw;
    margin-bottom: 1.5vh;
  }
}

@media screen and (min-width: 1281px) {
  .inputDate {
    width: 25vw;
    text-align: left;
    margin-left: 10vw;
    margin-bottom: 1.5vh;
  }
}

@media screen and (min-width: 1600px) {
  .inputDate {
    width: 15vw;
    text-align: left;
    margin-left: 7vw;
    margin-bottom: 1.5vh;
  }
}
