@media screen and (max-width: 1024px) {
  .inputDate {
    width: 36vw;
    text-align: left;
    margin-left: 5vw;
    margin-bottom: 1.5vh;
  }
}
@media screen and (min-width: 1025px) {
  .inputDate {
    width: 24vw;
    text-align: left;
    margin-left: 7vw;
    margin-bottom: 1.5vh;
  }
}
@media screen and (min-width: 1600px) {
  .inputDate {
    width: 14vw;
    text-align: left;
    margin-left: 5.2vw;
    margin-bottom: 1.5vh;
  }
}