.equipmentValue .Header {
  color: gray;
  margin: 5px;
}

.equipmentValue div {
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(0, 110, 255);
  color: rgb(0, 110, 255);
  font-size: 13px;
  margin-bottom: 1px;
}