.equipmentValue .Header {
  color: gray;
  margin: 5px;
}

.equipmentValue {
  text-align: left;
}
.equipmentValue div {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(0, 110, 255);
  color: rgb(0, 110, 255);
  font-size: 14px;
  margin-bottom: 1px;
  z-index: 1;
  padding-left: 2px;
  padding-right: 2px;
  font-family: Arial, Helvetica, sans-serif;
}