$blueColor: rgb(0, 110, 255);

.equipmentValue .Header {
  color: gray;
  margin: 5px;
}

.equipmentValue {
  padding-bottom: 2vh;
  div {
    margin-bottom: 4vh;
    padding: 0;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid;
    border-color: $blueColor;
    color: $blueColor;
    font-size: 14px;
    margin-bottom: 1px;
    z-index: 1;
  }
}
