.equipmentValue .Header {
  color: gray;
  margin: 5px;
}

.equipmentValue {
  padding-bottom: 2vh;
}
.equipmentValue div {
  margin-bottom: 4vh;
  padding: 0;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid;
  border-color: rgb(0, 110, 255);
  color: rgb(0, 110, 255);
  font-size: 14px;
  margin-bottom: 1px;
  z-index: 1;
}