$blueColor: rgb(0, 110, 255);
$fontFamily: Arial, Helvetica, sans-serif;

.equipmentValue .Header {
  color: gray;
  margin: 0;
  font-size: 14px;
}

.equipmentValue {
  text-align: left;
  div {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid;
    border-color: $blueColor;
    color: $blueColor;
    font-size: 14px;
    margin-bottom: 1px;
    z-index: 1;
    padding-left: 2px;
    padding-right: 2px;
    font-family: $fontFamily;
  }
}
