@media screen and (max-width: 1024px) {
  .mainImage {
    width: 250px;
    margin-left: 8vw;
  }
  .mainHeader {
    font-size: 25.5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1025px) {
  .mainImage {
    width: 250px;
    margin-left: 10vw;
  }
  .mainHeader {
    font-size: 25.5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
}
@media screen and (min-width: 1600px) {
  .mainImage {
    width: 250px;
    margin-left: 6.5vw;
  }
  .mainHeader {
    font-size: 25.5px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  }
}