@media screen and (max-width: 1280px) {
  .mainImage {
    margin-left: 5vw;
  }
}
@media screen and (min-width: 1281px) {
  .mainImage {
    margin-left: 10vw;
  }
}
@media screen and (min-width: 1600px) {
  .mainImage {
    margin-left: 7vw;
  }
}
