$fontSize: 10px;
$marginTop: 0.2vw;
$blueColor: rgb(0, 110, 255);

.actionIcon{
    border: 0;
    // margin-top: 0.15vw;
    float: right;
    margin-right: 0.2vw;
}

.dropdownMenu {
  border-radius: $fontSize;
  height: 14vh;
  margin-left: 2.5vw;
}

.dropdownMenu .label {
  font-size: $fontSize;
  margin-top: $marginTop;
  padding: 0;
}

.dropdownMenu .item {
  // width: 6vw;
  font-size: $fontSize;
  color: $blueColor;
  margin-top: $marginTop;
  padding: 0;
  border: 1px solid $blueColor;
}

.dropdownMenu .div{
  display: inline-block;
  border: 1px solid $blueColor;
  color: $blueColor;
  padding: 0.5px 2px 0.5px 2px;
  font-size: 10px;
  border-radius: 3px;
  }

