.outputDate {
  border-radius: 7px;
  margin-left: 5vw;
}

.outputDate .class {
  background-color: rgb(255, 255, 255);
  border-radius: 5px 0 0 5px;
}

.outputDate .faculty {
  background-color: rgb(255, 255, 255);
}

.outputDate .placesNum {
  background-color: rgb(255, 255, 255);
  border-radius: 0 5px 5px 0;
}