$backgroundColor: rgb(255, 255, 255);
$fontFamily: Arial, Helvetica, sans-serif;

@keyframes show-freePlacesResult {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.freePlacesResult {
  background-color: $backgroundColor;
  width: 430px;
  display: block;
  margin: 0 auto;
  margin-left: 0;
  border-radius: 7px;
  min-height: 45px;
  border: 0.5px solid rgb(209, 209, 209);
  margin-bottom: 0.2vw;
  font-family: $fontFamily;
  animation: show-freePlacesResult 1s forwards;
  .noResult {
    margin: 15px;
    color: rgb(63, 141, 230);
    text-align: center;
  }
}

@mixin divs {
  height: 30px;
  font-size: 15px;
  float: left;
  text-align: center;
  background: rgb(255, 255, 255);
  border-radius: 7px;
  margin-right: 10px;
  text-align: center;
  padding-top: 15px;
}

.freePlacesResult .image {
  @include divs;
  width: 45px;
  padding-top: 12px;
  margin-right: 0;
  margin-left: 20px;
}
.freePlacesResult .classNum {
  @include divs;
  width: 45px;
  margin-left: 5px;
}
.freePlacesResult .facultyName {
  @include divs;
  width: 70px;
  text-align: left;
}
.freePlacesResult .places {
  @include divs;
  width: 45px;
  text-align: left;
}
.freePlacesResult .button {
  margin-top: 8px;
  margin-left: 60px;
  width: 20px;
  border: 0;
}
